.title {
  font-size: 4em;
  margin-left: 35%;
}
 /* Bilder je svaka slika na ovoj strani */
#bilder {
  margin-left: 20%;
  padding-bottom: 2%;
}

* {
  font-family: 'Recursive', sans-serif;
}

body {
  background-color: #DCF4A9;
}

ul {
  position: sticky;
  top: 0%;
  list-style-type: none;

  padding: -1px;
  margin: -4.5px;

  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;

  margin-left: 140px;
  padding: 16px;
}

hr {
  opacity: 0.2;

  margin-left: 25%;
  margin-right: 25%;
}

li a:hover {
  background-color: #55B650;
}

h2 {
  font-size: 2em;

  margin-left: 25%;
}
h3 {
  margin-left: 25%;

  font-size: 1.5em;
}
p {
  margin-left: 25%;
  margin-right: 25%;
}
